@model SourceControl.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div>
    @using (Html.BeginForm("Login", "Home"))
    {
        <div style="color:red;">@Html.ValidationSummary()</div>

        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(model => model.Email)</div>
            <div class="col-lg-10">@Html.TextBoxFor(model => model.Email, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(model => model.Password)</div>
            <div class="col-lg-10">@Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "Password" })</div>
        </div><br />
        <input type="submit" value="Login" class="btn btn-primary" />
    }

</div>
