@model IEnumerable<ProductManagementSytem.Model.ProductModel>

@{
    ViewBag.Title = "GetProducts";
}

<h2>GetProducts</h2>

<p>
    @Html.ActionLink("Create New", "AddProduct")
</p>
<div >
    <div class="col">
        <div class="col-lg-6">
            <div>
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.CategoryName)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.Price)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.SmallImage)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.Quantity)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.SmallDescription)
            </div>
        </div>
    </div>

@foreach (var item in Model) {
    <div class="col">
        <div class="col-lg-6">
            <div>
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Price)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.SmallImage)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Quantity)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.SmallDescription)
            </div>
            <div>
                @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        </div>
        
    </div>
}

</div>
